@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');

/* @font-face {
    font-family: 'medusa_gothicregular';
    src: url('/fonts/webfontkit-20220126-110810/medusagothic_d-webfont.woff2') format('woff2'),
         url('/fonts/webfontkit-20220126-110810/medusagothic_d-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

} */
  
.title {
    font-family: 'Mochiy Pop P One', sans-serif;
    color: whitesmoke;
    margin-top: 30px;
}

body {
    height: 100vmax;
    background-color: rgba(0, 0, 0, 0.856);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    justify-content: space-evenly;
    flex: 1;
    font-family: 'Mochiy Pop P One', sans-serif;
    color: blanchedalmond;
}

.game {
    display: flex;
    gap: 50px;
    align-items: center;
}

.score {
    display: flex;
    gap: 30px;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content:flex-start;
    margin-top: 10%;
    flex: 1;
}

img {
    width: 150px;
}

.icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    opacity: 0.6;
    transition: 0.1s;
}

.result {
    margin-top: 15%;
}

.icon:hover {
    opacity: 1;
    transform: scale(1.1);
}